# Created by npm ci
node_modules

# Created by nest build
dist

# Create by AWS EB
.elasticbeanstalk

#Recommended by nodejs.org to prevent debug logs from being copied onto Docker image
npm-debug.log